html, body {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 20em;
}

.lightblue {
  background-color: #bde0ff !important;
}

.beige {
  background-color: #f4dab6 !important;
}

.salmon {
  background-color: #fa8072 !important;
}

.header {
  height: 20em;
  text-align: center;
}

.headerText {
  padding-top: 5.5em;
  color: white;
}

.main-nav,
.fixing-wrapper {
  position: relative;
}

.main-nav {
  /*margin-top: 20em;*/
  height: 50px;
  margin-bottom: -50px;
  z-index: 99;
  overflow: visible !important;
}

.header,
.main-nav {
  width: 80%;
  margin-left: 10%;
}

.header,
.main-nav-scrolled {
  position: fixed;
  top: 0;
}

.navbar-default {
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#e8e8e8 100%);
  background-image: -o-linear-gradient(top,#e8e8e8 0,#e8e8e8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#e8e8e8));
  background-image: linear-gradient(to bottom,#e8e8e8 0,#e8e8e8 100%);
}

.main-circle {
  border: 7px solid white !important;
  padding: 12px;
  /*-webkit-transition-duration: 2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;*/
}

.circle {
  height: 15px;
  width: 15px;
  display: block;
  border: 1px solid black;
  border-radius: 30px;
}

a.circle {
  margin: 0.4em 1em;
}

.navbar-default .navbar-nav > .active > .beige,
.navbar-default .navbar-nav > .open > .beige {
  background-image: -webkit-linear-gradient(top,#f4dab6 0,#f4dab6 100%);
  background-image: -o-linear-gradient(top,#f4dab6 0,#f4dab6 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f4dab6),to(#f4dab6));
  background-image: linear-gradient(to bottom,#f4dab6 0,#f4dab6 100%);
}

.navbar-default .navbar-nav > .active > .lightblue,
.navbar-default .navbar-nav > .open > .lightblue {
  background-image: -webkit-linear-gradient(top,#bde0ff 0,#bde0ff 100%);
  background-image: -o-linear-gradient(top,#bde0ff 0,#bde0ff 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#bde0ff),to(#bde0ff));
  background-image: linear-gradient(to bottom,#bde0ff 0,#bde0ff 100%);
}

.navbar-default .navbar-nav > .active > .salmon,
.navbar-default .navbar-nav > .open > .salmon {
  background-image: -webkit-linear-gradient(top,#fa8072 0,#fa8072 100%);
  background-image: -o-linear-gradient(top,#fa8072 0,#fa8072 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fa8072),to(#fa8072));
  background-image: linear-gradient(to bottom,#fa8072 0,#fa8072 100%);
}

.dropdown-menu>li>a.beige:focus,
.dropdown-menu>li>a.beige:hover {
  background-color: #f4dab6;
  background-image: -webkit-linear-gradient(top,#f4dab6 0,#f4dab6 100%);
  background-image: -o-linear-gradient(top,#f4dab6 0,#f4dab6 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f4dab6),to(#f4dab6));
  background-image: linear-gradient(to bottom,#f4dab6 0,#f4dab6 100%);
}

.dropdown-menu>li>a.lightblue:focus,
.dropdown-menu>li>a.lightblue:hover {
  background-color: #bde0ff;
  background-image: -webkit-linear-gradient(top,#bde0ff 0,#bde0ff 100%);
  background-image: -o-linear-gradient(top,#bde0ff 0,#bde0ff 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#bde0ff),to(#bde0ff));
  background-image: linear-gradient(to bottom,#bde0ff 0,#bde0ff 100%);
}

.dropdown-menu>li>a.salmon:focus,
.dropdown-menu>li>a.salmon:hover {
  background-color: #fa8072;
  background-image: -webkit-linear-gradient(top,#fa8072 0,#fa8072 100%);
  background-image: -o-linear-gradient(top,#fa8072 0,#fa8072 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fa8072),to(#fa8072));
  background-image: linear-gradient(to bottom,#fa8072 0,#fa8072 100%);
}

.dropdown-menu {
  margin-left: 0.8em;
  bottom: -400% !important;
  min-width: 0 !important;
}

.dropdown-border-circle {
  background-color: blue;
  position: relative;
  z-index: -1;
  left: 6px;
  top: -32px;
  padding: 12px;
}

.dropdown-menu > li > a {
  padding: 8px;
  /*border: 3px solid red;*/
  margin: 10px;
}

.fixing-wrapper {
  background: white;
  padding-top: 7em;
  height: 130em;
}

.main-wrapper {
  width: 65%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.main-image {
  width: 110%;
  margin-left: -5%;
  margin-top: 2em;
}

.who-am-i {
  margin-top: 3em;
}

.who-am-i > p {
  line-height: 0.5;
  font-size: 1.1em;
}

.works {
  clear: both;
  margin-top: 5em;
}

.work-div {
  height: 15em;
  width: 49%;
  border: 1px solid black;
  overflow: hidden;
  margin: 0.5em auto;
}

.work-div > img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  opacity: 1;
  transform: scale(1, 1);
  transition: all 0.2s ease-in;
}

.work-div > img:hover {
  opacity: 0.7;
  transform: scale(1.3, 1.3);
}

.work-odd {
  float: left;
}

.work-even {
  float: right;
}

.work-one {
  background: url("images/clothing.png") no-repeat center top;
  background-size: 100%;
  transition: all 0.4s ease;
}

.work-two {
  background: url("images/bookmarker.png") no-repeat center top;
  background-size: 100%;
  transition: all 0.4s ease;
}

.work-three {
  background: url("images/something-borrowed.png") no-repeat center top;
  background-size: 100%;
  transition: all 0.4s ease;
}

.work-four {
  background: url("images/nutrition.png") no-repeat center top;
  background-size: 100%;
  transition: all 0.4s ease;
}

.work-five {
  background: url("images/forum.png") no-repeat center top;
  background-size: 100%;
  transition: all 0.4s ease;
}

.work-six {
  background: url("images/blackjack.png") no-repeat center top;
  background-size: 100%;
  transition: all 0.4s ease;
}

.work-description {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  text-align: center;
  display: table;
}

.work-description {
  width: 100%;
  height: 100%;
  padding-top: 0.5em;
  cursor: pointer;
}

.work-div:hover .work-description {
  background-color: rgba(104,104,104,0.85);
  opacity: 1;
}
.work-div:hover {
  background-size: 125%;
  background-color: rgba(0,0,0,0.2);
}

.work-description > h2 {
  margin-top: 44px;
}

.tech-list {
  padding-left: 0;
}

.tech-list > li {
  list-style: none;
  display: inline-block;
  border: 1px solid white;
  padding: 0.5em;
  margin: 0.2em;
  color: white;
}

#footer {
  height: 12em;
  width: 100%;
  background-color: #EFE9E5;
  text-align: center;
  padding-top: 10px;
}

#footer > a:hover {
  text-decoration: none;
}

#footer > a {
  margin-right: 10px;
  margin-left: 10px;
