html, body {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 20em;
}

.header {
  height: 20em;
  text-align: center;
  background: red;
}

.headerText {
  padding-top: 5.5em;
}

.main-nav,
.fixing-wrapper {
  position: relative;
}

.main-nav {
  /*margin-top: 20em;*/
  height: 50px;
  margin-bottom: -50px;
  z-index: 99;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}

.header,
.main-nav {
  width: 80%;
  margin-left: 10%;
}

.header,
.main-nav-scrolled {
  position: fixed;
  top: 0;
}

.main-nav-scrolled {
  width: 100%;
  margin-left: 0;
}

.fixing-wrapper {
  background: white;
  padding-top: 7em;
  height: 200em;
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
}

.who-am-i {
  margin-top: 1em;
}

.who-am-i > p {
  line-height: 0.5;
}

.works {
  clear: both;
  margin-top: 5em;
}

.work-div {
  height: 15em;
  width: 50%;
  border: 1px solid black;
}

.work-div > img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.work-odd {
  float: left;
}

.work-even {
  float: right;
}
